* {
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --primary-background-color: rgb(38, 55, 80);
}

.equipment-container {
  display: grid;
  align-items: center;

  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  height: 70vh;
  width: 70vh;
  background-color: darkmagenta;
  background-image: url(./layout/pictures/man.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: border-box;
  cursor: pointer;
  user-select: none;
}

.equipment-slot {
  height: 10vh;
  width: 10vh;
  border: 5px black solid;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(108, 108, 146, 0.5);
}

.equipment-slot:hover {
  transition: 500ms;
  border: 5px dashed black;
  color: white;
  filter: brightness(1);
}

.equipment-head {
  grid-area: b;
  align-self: flex-end;
}

.equipment-arm-left {
  grid-area: a;
  align-self: flex-end;
}

.equipment-arm-right {
  grid-area: c;
  align-self: flex-end;
}

.equipment-torso {
  grid-area: e;
}

.equipment-leg-left {
  grid-area: g;
}

.equipment-leg-right {
  grid-area: i;
}

.inventory-list {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #f4f4f4;
}

.inventory-slot {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  background-color: darkcyan;
}

.inventory-item {
  height: stretch;
  width: stretch;
  margin: 5px;
  font-size: 2rem;
  text-align: center;
  justify-items: center;
  color: black;
  background-color: white;
}

.item-description {
  position: absolute;

  width: 15vh;
  height: 15vh;

  font-size: 1rem;
  font-style: italic;

  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.helmet {
  background-image: url("./layout/pictures/helmet.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.sword {
  background-image: url("./layout/pictures/sword.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}
