* {
  margin: 0px;
  padding: 0px;
  border: 0px solid black;
}

.draggable {
  color: red;
  font-size: 50px;
}

.equipment-container {
  display: grid;
  align-items: center;

  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  height: 70vh;
  width: 70vh;
  background-image: url(./layout/pictures/man.png);
  background-position: -95px;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: border-box;
  cursor: pointer;
  user-select: none;
}

.equipment-slot {
  height: 100px;
  width: 100px;
  border: 5px black solid;
  text-align: center;
  font-size: 2rem;
  color: white;
  background-color: rgba(108, 108, 146, 0.5);
}

.equipment-slot:hover {
  transition: 250ms;
  border: 5px dashed black;
  color: white;
  filter: brightness(1);
}

.equipment-head {
  grid-area: b;
  align-self: flex-end;
}

.equipment-arm-left {
  grid-area: a;
  align-self: flex-end;
}

.equipment-arm-right {
  grid-area: c;
  align-self: flex-end;
}

.equipment-torso {
  grid-area: e;
}

.equipment-leg-left {
  grid-area: g;
}

.equipment-leg-right {
  grid-area: i;
}

.inventory-list {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: #f4f4f4;
}

.inventory-slot {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  background-color: darkcyan;
}

.inventory-item {
  height: stretch;
  width: stretch;
  margin: 5px;
  text-align: center;
  justify-items: center;
  color: black;
  background-color: white;
}

.helmet {
  background-image: url("./layout/pictures/helmet.jpg");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.sword {
  background-image: url("./layout/pictures/sword.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}
