* {
  margin: 0;
  padding: 0;
}

.equipment-container {
  display: grid;
  align-items: center;

  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  height: 70vh;
  width: 70vh;
  background-image: url(./layout/pictures/man.png);
  background-position: -90px;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: border-box;
  cursor: pointer;
  user-select: none;
}

.equipment-slot {
  height: 10vh;
  width: 10vh;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  justify-items: center;
  background-color: rgb(42, 42, 88);
  border-width: 2px;
  opacity: 0.5;
}

.equipment-slot:hover {
  transition: 250ms;
  border: 10px black;
  color: white;
  filter: brightness(1);
  opacity: 1;
}

.equipment-head {
  grid-area: b;
  align-self: flex-end;
}

.equipment-arm-left {
  grid-area: a;
  align-self: flex-end;
}

.equipment-arm-right {
  grid-area: c;
  align-self: flex-end;
}

.equipment-torso {
  grid-area: e;
}

.equipment-leg-left {
  grid-area: g;
}

.equipment-leg-right {
  grid-area: i;
}
.playarea-container {
  display: grid;
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i";
  height: 50vh;
  width: 50vh;
}

.playarea-a1 {
  grid-area: a;
}

.playarea-a2 {
  grid-area: b;
}

.playarea-a3 {
  grid-area: c;
}

.playarea-b1 {
  grid-area: d ;
}

.playarea-b2 {
  grid-area: e;
}

.playarea-b3 {
  grid-area: f;
}

.playarea-c1 {
  grid-area: g;
}

.playarea-c2 {
  grid-area: h;
}

.playarea-c3 {
  grid-area: i;
}